.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.mt-2 {
  margin: 20px;
}

.edit-mt-8 {
  margin-left: 120px;
}

.center {
  align-items: center;
}